body{
    background-color: rgba(248, 190, 63, 0.849);
    font: normal 15py Arial;
}

header{
    text-align: center;
}

section{
    background: rgba(9, 253, 62, 0.63);
    border-radius: 10px;
    padding: 15px;
    width: 550px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(238, 255, 0, 0.541);

}

div{
    text-align:center;
    padding: 5px;

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

.img{
    border-radius: 10px;
    border-left: 10px;
}