body{
    background-color: rgba(247, 120, 17, 0.425);
    font: normal 15py Arial;
}

header{
    text-align: center;
}

section{
    background: rgba(238, 16, 16, 0.63);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);

}footer{
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
}
input{
    font: normal 13pt arial;
    width:80px;
}